<head>
<script src="components/loader.js"></script>
<script>
   
function sendData(){
    var nama = document.getElementById("nama").value;
     var deskripsi = document.getElementById("deskrip").value;
   window.location='send.html?nama='+nama+'&desk='+deskripsi;
    }
function conn() {
document.getElementById("onconnect").style.display="block";
}
function notconn() {

document.getElementById("notconnect").style.display="block";
}


</script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        ons-carousel-item {
  display: table;
  text-align: center;
}
.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}
.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}
.isi {
    margin: 20 10 10 10;
    color:white;
}
    </style>
    <script>
        ons.bootstrap();
    </script>
</head>
  <ons-page>
    <ons-toolbar>
      <div class="center">Bugs Report</div>
    </ons-toolbar>
    <ons-carousel swipeable overscrollable auto-scroll fullscreen var="carousel">
       <ons-carousel-item style="background-color: #d35400">
       <div id="onconnect" style="display:none">
      <div class="isi"><center> Nama : <input type="text" id="nama" class="text-input" ng-model="text" style="display: block; width: 80%">
<br/> Deskripsi Kesalahan :
        <textarea class="textarea" id="deskrip" ng-model="text2" style="width: 80%; height: 200px;"></textarea><br/><br><ons-button onclick="sendData()" modifier="large" style="width:60%">Kirim</ons-button>
    <br/><br/>
   <ons-button onclick="window.location='index.html'" modifier="large" style="width:40%">< Home</ons-button>
</center>
    
</div>
</div>
<img src="http://herdian.net/conn.jpg" style="display:none" onload="conn()" onerror="notconn()"/>

<div id="notconnect" style="display:none;color:white;margin:80px 20px 0px 20px"><center>Kamu sedang tak terkoneksi internet, atau internet kamu tidak stabil<br/><br/><ons-button onclick="window.location='bugs.html'" modifier="large" style="width:60%">Reload</ons-button>   <br/><br/>
   <ons-button onclick="window.location='index.html'" modifier="large" style="width:40%">< Home</ons-button></center></div>
      </ons-carousel-item>
    </ons-carousel>
  </ons-page>
 